---
import HomePageSwiper from "@components/HomePageSwiper";
import BingeWatch from "@components/BingeWatch";
import BingeWeekly from "@components/BingeWeekly";
import HotPlaying from "@components/HotPlaying";
import BestMoviesInWeek from "@components/BestMoviesInWeek";
import BestMoviesInMonth from "@components/BestMoviesInMonth";
import BaseLayout from "@layouts/BaseLayout.astro";
import useAxios from "@hooks/useAxios";

const { get } = useAxios();

const datas = await get("/home");
const swiperDatas = datas[0];
const bingeWatchDatas = datas[1];
const hotPlayingDatas = datas[2];
const bingeWeeklyDatas = datas[3];
const bestMoviesInMonthDatas = datas[4];
const bestMoviesInWeekDatas = datas[5];
---

<style>
  .item {
    margin-top: 50px;
  }
</style>
<BaseLayout>
  <div class="home-page-swiper-wrapper" slot="home-page-swiper">
    <HomePageSwiper
      imgList={swiperDatas.imgURLs}
      videoTitles={swiperDatas.videoTitles}
      client:load
    />
  </div>
  <div class="video-shows-wrapper" slot="video-shows">
    <div>
      <BingeWatch
        videoTitles={bingeWatchDatas.videoTitles}
        imgURLs={bingeWatchDatas.imgURLs}
        videoTags={bingeWatchDatas.videoTags}
        videoScores={bingeWatchDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotPlaying
        videoTitles={hotPlayingDatas.videoTitles}
        imgURLs={hotPlayingDatas.imgURLs}
        videoTags={hotPlayingDatas.videoTags}
        videoScores={hotPlayingDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <BingeWeekly
        videoTitles={bingeWeeklyDatas.videoTitles}
        imgURLs={bingeWeeklyDatas.imgURLs}
        videoTags={bingeWeeklyDatas.videoTags}
        videoScores={bingeWeeklyDatas.videoScores}
        videoEpisodes={bingeWeeklyDatas.videoEpisodes}
        client:load
      />
    </div>
    <div class="item">
      <BestMoviesInWeek
        videoTitles={bestMoviesInWeekDatas.videoTitles}
        imgURLs={bestMoviesInWeekDatas.imgURLs}
        videoTags={bestMoviesInWeekDatas.videoTags}
        videoScores={bestMoviesInWeekDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <BestMoviesInMonth
        videoTitles={bestMoviesInMonthDatas.videoTitles}
        imgURLs={bestMoviesInMonthDatas.imgURLs}
        videoTags={bestMoviesInMonthDatas.videoTags}
        videoScores={bestMoviesInMonthDatas.videoScores}
        client:load
      />
    </div>
  </div>
</BaseLayout>
