---
import HomePageSwiper from "@components/HomePageSwiper";
import BingeWatch from "@components/BingeWatch";
import BingeWeekly from "@components/BingeWeekly";
import HotPlaying from "@components/HotPlaying";
import BestMoviesInWeek from "@components/BestMoviesInWeek";
import BestMoviesInMonth from "@components/BestMoviesInMonth";
import NetflixHot from "@components/NetflixHot";
import HotJanpaneseAndKorean from "@components/HotJanpaneseAndKorean";
import HotEuropeanAndAmerican from "@components/HotEuropeanAndAmerican";
import HotAnime from "@components/HotAnime";
import HotHongKongAndTaiwan from "@components/HotHongKongAndTaiwan";
import HotTVSeries from "@components/HotTVSeries";
import HotVariety from "@components/HotVariety";
import BaseLayout from "@layouts/BaseLayout.astro";
import useAxios from "@hooks/useAxios";

const { get } = useAxios();

const datas = await get("/home");
const swiperDatas = datas[0];
const bingeWatchDatas = datas[1];
const hotPlayingDatas = datas[2];
const bingeWeeklyDatas = datas[3];
const bestMoviesInMonthDatas = datas[4];
const bestMoviesInWeekDatas = datas[5];
const netflixHotDatas = datas[6];
const hotJanpaneseAndKoreanDatas = datas[7];
const hotEuropeanAndAmericanDatas = datas[8];
const hotHongKongAndTaiwanDatas = datas[9];
const hotTVSeriesDatas = datas[10];
const hotAnimeDatas = datas[11];
const hotVarietyDatas = datas[12];
---

<style>
  .item {
    margin-top: 50px;
  }
</style>
<BaseLayout>
  <div class="home-page-swiper-wrapper" slot="home-page-swiper">
    <HomePageSwiper
      imgList={swiperDatas.imgURLs}
      videoTitles={swiperDatas.videoTitles}
      client:load
    />
  </div>
  <div class="video-shows-wrapper" slot="video-shows">
    <div>
      <BingeWatch
        videoTitles={bingeWatchDatas.videoTitles}
        imgURLs={bingeWatchDatas.imgURLs}
        videoTags={bingeWatchDatas.videoTags}
        videoScores={bingeWatchDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotPlaying
        videoTitles={hotPlayingDatas.videoTitles}
        imgURLs={hotPlayingDatas.imgURLs}
        videoTags={hotPlayingDatas.videoTags}
        videoScores={hotPlayingDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <BingeWeekly
        videoTitles={bingeWeeklyDatas.videoTitles}
        imgURLs={bingeWeeklyDatas.imgURLs}
        videoTags={bingeWeeklyDatas.videoTags}
        videoScores={bingeWeeklyDatas.videoScores}
        videoEpisodes={bingeWeeklyDatas.videoEpisodes}
        client:load
      />
    </div>
    <div class="item">
      <BestMoviesInWeek
        videoTitles={bestMoviesInWeekDatas.videoTitles}
        imgURLs={bestMoviesInWeekDatas.imgURLs}
        videoTags={bestMoviesInWeekDatas.videoTags}
        videoScores={bestMoviesInWeekDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <BestMoviesInMonth
        videoTitles={bestMoviesInMonthDatas.videoTitles}
        imgURLs={bestMoviesInMonthDatas.imgURLs}
        videoTags={bestMoviesInMonthDatas.videoTags}
        videoScores={bestMoviesInMonthDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <NetflixHot
        videoTitles={netflixHotDatas.videoTitles}
        imgURLs={netflixHotDatas.imgURLs}
        videoEpisodes={netflixHotDatas.videoEpisodes}
        videoScores={netflixHotDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotJanpaneseAndKorean
        videoTitles={hotJanpaneseAndKoreanDatas.videoTitles}
        imgURLs={hotJanpaneseAndKoreanDatas.imgURLs}
        videoEpisodes={hotJanpaneseAndKoreanDatas.videoEpisodes}
        videoScores={hotJanpaneseAndKoreanDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotEuropeanAndAmerican
        videoTitles={hotEuropeanAndAmericanDatas.videoTitles}
        imgURLs={hotEuropeanAndAmericanDatas.imgURLs}
        videoEpisodes={hotEuropeanAndAmericanDatas.videoEpisodes}
        videoScores={hotEuropeanAndAmericanDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotHongKongAndTaiwan
        videoTitles={hotHongKongAndTaiwanDatas.videoTitles}
        imgURLs={hotHongKongAndTaiwanDatas.imgURLs}
        videoEpisodes={hotHongKongAndTaiwanDatas.videoEpisodes}
        videoScores={hotHongKongAndTaiwanDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotTVSeries
        videoTitles={hotTVSeriesDatas.videoTitles}
        imgURLs={hotTVSeriesDatas.imgURLs}
        videoEpisodes={hotTVSeriesDatas.videoEpisodes}
        videoScores={hotTVSeriesDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotAnime
        videoTitles={hotAnimeDatas.videoTitles}
        imgURLs={hotAnimeDatas.imgURLs}
        videoEpisodes={hotAnimeDatas.videoEpisodes}
        videoScores={hotAnimeDatas.videoScores}
        client:load
      />
    </div>
    <div class="item">
      <HotVariety
        videoTitles={hotVarietyDatas.videoTitles}
        imgURLs={hotVarietyDatas.imgURLs}
        videoEpisodes={hotVarietyDatas.videoEpisodes}
        videoScores={hotVarietyDatas.videoScores}
        client:load
      />
    </div>
  </div>
</BaseLayout>
