---
import HomePageSwiper from "@components/HomePageSwiper";
import BingeWatch from "@components/BingeWatch";
import BaseLayout from "@layouts/BaseLayout.astro";
import useAxios from "@hooks/useAxios";

const { get } = useAxios();

const datas = await get("/home");
const swiperDatas = datas[0];
const bingeWatchDatas = datas[1];
---

<BaseLayout>
  <div class="home-page-swiper-wrapper" slot="home-page-swiper">
    <HomePageSwiper
      imgList={swiperDatas.imgURLs}
      videoTitles={swiperDatas.videoTitles}
      client:load
    />
  </div>
  <div class="video-shows-wrapper" slot="video-shows">
    <BingeWatch
      videoTitles={bingeWatchDatas.videoTitles}
      imgURLs={bingeWatchDatas.imgURLs}
      videoTags={bingeWatchDatas.videoTags}
      videoScores={bingeWatchDatas.videoScores}
      client:load
    />
  </div>
</BaseLayout>
